*{
    margin: 0;
    padding: 0;
}

:root{
    --dark-blue:#1d4567;
    --ash-blue:#5dd4e9;
    --light-yello:#faf39b;
    --light-orange:#ECB365;
    --bg-color:#FFE6A9;
    --browny:#54473F;

    --Topic:6em;
    --quote:2.5em;
} 
body{
    overflow-x:hidden;
    background-color:var(--bg-color);
}
#navbar{
    box-shadow:black 0px 2px 10px;
    width:100%;
    height: 130px;
    background-color: var(--ash-blue);
    border: 2px solid white;
}
#navbar img{
    position: absolute;
    display: flex;
    width: 135px;
    top: 0px;
    margin: 10px 0px 0px 100px;
}
#menu{
    background-color: var(--light-yello);
    box-shadow:black 0px 2px 10px;
    border-radius: 25px 0px 0px 25px;
    width: 815px;
    height: 100px;
    display: flex;
    position: absolute;
    top: 10px;
    right: -815px;
    transition: .8s;
}
#menu ul{
    /* margin-top: 80px; */
    display: flex;
}
#menu li{
    margin-top: 35px;
    list-style-type: none;
}
#menu a{
    border-radius: 20px;
    text-decoration: none;
    margin: 23px;
    padding: 20px;
    font-size: 26px;
    font-family: sour gummy;
    color: var(--dark-blue);
}
#menu a:hover{
    background-color: var(--light-orange);
    color: var(--dblue);
    transition: .5s;
}
#menub{
	/* border:2px solid white; */
    display: flex;
    position:absolute;
    width:50px;
    height:50px;
    background-position: center;
    background-size: cover;
    top:35px;
    right:40px;
    z-index: 1;
}
#menub img{
    top: -10px;
    right:0;
    width: 45px;

}
#menub:hover{
    cursor: pointer;
}
/* Services topic */
#service-topic{
    width: 100%;
    height: auto;
    text-align: center;
    color:var(--dark-blue);
    font-size: 2.5em;
    font-family: merriweather;
    text-decoration: overline;
}
#service-intro{
    display: flex;
    margin-top:2%;
    justify-content: center;
}
#text{
    font-size: 2.1em;
    color: var(--dark-blue);
    font-family: sour gummy;
    font-weight: 500;
    padding: 1.5%;
    background-color: var(--light-orange);
    width: 900px;
    border: 5px solid var(--ash-blue);
    border-radius: 25px;
    animation: zoomin2 1.5s ease-out;
}
#image{
    animation: zoomin 1.5s ease-out;
}
@keyframes zoomin {
    from{
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes zoomin2 {
    from{
        opacity: 0;
        transform: translateX(-500px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
#introduction{
    width: 100%;
    height: auto;
    margin-top: 8%;
    text-align: center;
    color:var(--dark-blue);
    font-size: 2.3em;
    font-family: merriweather;
    text-decoration: overline;
}
.services{
    padding:7%;
    display: flex;
    margin-top:2%;
    justify-content:space-between;
}
.services .service-text{
    border: 2px dashed var(--dark-blue);
    border-radius: 50px;
    background-color: var(--light-yello);
    color: var(--dark-blue);
    font-family: sour gummy;
    font-size: 2em;
    width: 700px;
    height: auto;
    padding: 1%;
    animation: scroll linear; 
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.services .images img{
    border: 5px solid var(--dark-blue);
    border-radius: 25px;
    width: 700px;
    height: auto;
    animation: scroll linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.topic{
    margin-top: 5%;
    text-align: center;
    color:var(--browny);
    font-size: 45px;
    font-family: sour gummy;
    font-weight: 800;
    text-decoration: overline;
}
#service1,#service3{
    background-color:var(--ash-blue);
}
@keyframes scroll {
    from{
        opacity: 0;
        scale:.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
footer{
    background:var(--dark-blue);
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 130px;
}
#foot{
    text-align: center;
    font-size: 20px;
    font-family: Sour gummy;
    color: wheat;
}
footer #link{
    display: flex;
    justify-content:center;
    margin-bottom:10px;
}
footer #icons{
    display: flex;
    justify-content: center;
}
.icon{
    color: wheat;
    font-size: 25px;
    margin:20px 0 10px 50px;
}
.flink a{
    text-decoration: none;
    color: wheat;
    font-size: 22px;
    font-family: sour gummy;
    padding-left: 50px;
}